$color-blue: #4444eb;
$color-blue-active: #1f1f64;

body {
  margin: 0;
  background-color: #80808027;
}

.header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: $color-blue;
  box-shadow: 0 5px 10px 8px rgba(34, 60, 80, 0.3);

  &__title {
    margin: 0;
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
  }

  &__logo-title {
    display: flex;
    align-items: center;
  }
}

.main {
  display: flex;

  &__left-bar {
    width: 200px;
    margin-right: 50px;
    padding: 20px 0 0 20px;
  }

  &__users {
    width: 80vw;
    padding: 20px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.footer {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.nav {
  width: 50vh;
  display: flex;
  justify-content: space-evenly;

  &__button {
    padding: 6px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 10px;
    transition: 0.3s;

    &--active {
      color: $color-blue;
      text-decoration: underline;
      border-color: #000;
      background-color: #fff;
    }

    &:hover {
      color: $color-blue;
      border-color: #000;
      background-color: #fff;
    }
  }
}

.logo {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background-image: url('./img/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.button {
  display: block;
  margin: 2px;
  border-radius: 5px;
  border: 2px solid #868585;
  color: $color-blue;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #fff;
    border: 2px solid $color-blue;
  }

  &__profile {
    padding: 10px;
    text-decoration: none;
  }

  &__no-friends {
    padding: 5px;
    text-align: center;
  }

  &__user-card {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $color-blue;
    text-transform: uppercase;
    border-color: $color-blue;

    &:hover {
      color: #fff;
      background-color: $color-blue;
    }
  }

  &:active {
    background-color: $color-blue-active;
    color: #fff;
  }
}

.filter-form {
  padding: 5px;
  width: 160px;
  display: flex;
  flex-direction: column;

  &__categorie-title {
    font-size: 24px;
    margin-bottom: 8px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  &__select {
    border-radius: 10px;
    transition: 0.3s;
    border-width: 2px;

    &:hover {
      border-color: $color-blue;
    }

    & > * {
      margin-top: 2px;
      padding: 0 15px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: #80808036;
      }
    }
  }

  &__fromTo {
    height: 30px;
    width: 50px;
    margin: 5px;
    font-size: 20px;
    padding-left: 5px;
    border-radius: 5px;
    outline: none;

    &:focus {
      border-color: $color-blue;
    }
  }
}

.extra-buttons {
  display: flex;
  align-items: flex-end;
}

.label {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.card {
  width: 200px;
  height: 220px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 4px 4px #223c5033;
  overflow: hidden;
  transition: 0.3s;

  &:hover {
    margin-bottom: -150px;
    height: 350px;
    transform: scale(1.2);
    z-index: 1;
  }

  &__user-photo {
    width: 200px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    padding: 0 10px 5px;
  }

  &__name {
    text-align: center;
  }

  &__email {
    text-decoration: none;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &::before {
      display: inline-block;
      height: 20px;
      width: 20px;
      margin-right: 5px;
      transform: translateY(5px);
      content: '';
      background-image: url('./img/email-icon.png');
      background-size: contain;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__phone {
    text-decoration: none;
    color: #000;

    &::before {
      display: inline-block;
      height: 20px;
      width: 20px;
      margin-right: 5px;
      transform: translateY(5px);
      content: '';
      background-image: url('./img/phone-icon.svg');
      background-size: contain;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__dob {
    margin-bottom: 10px;

    &::before {
      display: inline-block;
      height: 20px;
      width: 20px;
      margin-right: 5px;
      transform: translateY(5px);
      content: '';
      background-image: url('./img/dob-icon.png');
      background-size: contain;
    }
  }
}

.message-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid $color-blue;
  border-radius: 30px;
  background-color: #fff;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: $color-blue;
  }

  &:active {
    background-color: $color-blue-active;
  }

  &__photo {
    margin-right: 5px;
    border-radius: 50%;
  }

  &__name {
    margin: auto;
  }

  &--active {
    color: #fff;
    background-color: $color-blue-active;
  }
}

.profile {
  margin: auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__avatar {
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  &__name {
    margin: 0;
  }
}

.edit-logo {
  height: 20px;
  width: 20px;
  background-image: url('./img/pencil.svg');
  cursor: pointer;
}

.chat-board {
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-area {
  width: calc(100vw - 300px);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 10px 30px 50px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow-y: hidden;

  &__message {
    margin-right: 10px;
    width: 90%;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 24px;

    &:focus {
      outline: none;
      border-color: $color-blue;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    width: max-content;
    padding: 15px;
    border-radius: 30px;

    & > * {
      margin: 0;
    }

    &--bot {
      align-items: flex-start;
      background-color: #87cefa;
      box-shadow: 0 2px 10px 3px #87cefa;
    }

    &--user {
      align-self: flex-end;
      align-items: flex-end;
      background-color: #66cd8e;
      box-shadow: 0 2px 10px 3px #66cd8e;
    }

    &-time {
      font-size: small;
    }

    &-mess {
      margin-bottom: 2px;
      font-size: 20px;
    }
  }

  &__button {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    background-image: url('./img/send-message.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    background-color: $color-blue;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-size: 80%;
    }

    &:active {
      background-color: $color-blue-active;
    }
  }

  &__send-message {
    display: flex;
    margin-top: 10px;
  }
}
